# Application Configuration
APP_PORT=8000
RUST_LOG=info

# Database Configuration
DATABASE_URL=

# Cloudflare Turnstile Configuration (replace with your actual secret)
TURNSTILE_SITE_KEY=0x4AAAAAABiDO3cyuEoqDCnm
# TURNSTILE_SECRET=0x4AAAAAABiDO1JaYINrHaIna8gl5QYOhZk
TURNSTILE_SECRET=1x0000000000000000000000000000000AA

# Frontend Site To Redirect To
FRONTEND_BASE_URL=localhost:3000

# Email Configs
EMAIL_HOST=smtp.zoho.com
EMAIL_PORT=465
EMAIL_USER=
EMAIL_PASSWORD=
