<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
      .rounded {
        border-radius: 8px;
      }

      @media only screen and (max-width: 600px) {
        body {
          padding: 0px !important;
        }

        .rounded {
          border-radius: 0px;
        }
      }
    </style>
  </head>
  <body
    style="
      font-family: 'Tilt Neon', sans-serif;
      margin: 0 auto;
      width: 100%;
      max-width: 600px;
      padding: 5px;
      background-color: #18201b;
    "
  >
    <center>
      <div
        class="rounded"
        style="background-color: #18201b; max-width: 600px; padding: 0 30px"
      >
        <center>
          <img
            src="https://campus-pilot.nyc3.cdn.digitaloceanspaces.com/assets/campus-pilot.jpg"
            alt="Logo"
            style="width: 100%; max-width: 200px; margin-top: 30px"
          />

          <div
            style="background-color: #fff; padding: 30px; border-radius: 8px"
          >
            <center>
              <h1 style="color: #18201b; margin: 0">Verification Code</h1>

              <div
                style="
                  background-color: #18201b;
                  max-width: 600px;
                  padding: 25px;
                  border-radius: 8px;
                  margin-top: 30px;
                "
              >
                <h1 style="color: #fff; margin: 0; font-size: 40px">
                  {{ code }}
                </h1>
              </div>

              <p
                style="
                  color: #18201b;
                  font-size: 16px;
                  text-align: left;
                  margin: 30px 0;
                "
              >
                Or click on the following link to verify your email:
                <a href="{{ email_link }}" style="color: #1a0be5"
                  >Click To Verify</a
                >
              </p>

              <p
                style="
                  color: #18201b;
                  font-size: 16px;
                  text-align: left;
                  margin: 30px 0;
                "
              >
                <span style="color: #1a0be5">Please note:</span>
                the code will be valid for the next 5 minutes.
              </p>
              <p
                style="
                  color: #18201b;
                  font-size: 16px;
                  text-align: left;
                  margin: 30px 0;
                "
              >
                If you didn’t try to sign-in or create an account, you can
                safely ignore this email.
              </p>
              <p
                style="
                  color: #18201b;
                  font-size: 16px;
                  text-align: left;
                  margin: 30px 0;
                "
              >
                We are glad you’re here!
              </p>
              <p
                style="
                  color: #18201b;
                  font-size: 16px;
                  text-align: left;
                  margin: 30px 0;
                "
              >
                Best regards, <br />
                Campus Pilot
              </p>
            </center>
          </div>

          <div style="padding: 20px">
            <p
              style="
                color: #fff;
                font-size: 14px;
                text-align: center;
                margin: 20px 0;
              "
            >
              This email was sent to
              <a href="mailto:{{ email }}" style="color: #fff"> {{ email }}</a>
              . If you’d rather not receive this kind of email,<a
                href="{{ unsubscribe_link }}"
                style="color: #fff; text-decoration: none"
              >
                you can unsubscribe
              </a>
              or
              <a
                style="color: #fff; text-decoration: none"
                href="{{ manage_preferences }}"
              >
                manage your email preferences.</a
              >

              <br />
              <br />
              All Rights Reserved | Campus Pilot &copy; 2024
            </p>
          </div>
        </center>
      </div>
    </center>
  </body>
</html>
